
@import "../../global.scss";

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $white;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 1s ease;
    @include mobile {
            height: max-content;
           box-shadow: 0 0 5px rgba(0,0,0,0.4)
        };

    .navWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        height: 100%;
        @include mobile {
                flex-direction: column;
                padding: 10px;
            }

        .navleft{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            @include mobile{
                display: none;
            }
            
           
            span{
                font-weight: 700;
                
            }
            .navSearch{
                position: relative;
                input{
                    border: 0.1px solid lightgrey;
                    border-radius: 5px;
                }
                .fa-magnifying-glass{
                    position: absolute;
                    right: 0;
                    bottom: 15%;
                    font-size: 20px;
                    font-weight: 700;
                    color: gray;


                }
            }
        }
        .navmIddle{
            flex:1;
            text-align: center;
            
            a{
                
                color: #000;
                font-weight: 700;
                font-size: 30px;
                cursor: pointer;
                @include mobile {
                    font-size: 25px;
                    margin-left: 20px;

                }
            }
        }
        .navRight{
            flex: 1;

            .navItems{
                display: flex ;
                justify-content: center;
                align-items: center;
                gap: 10px;
                li{
                    a{
                        font-weight: 600;
                        padding: 5px ;
                        transition: all 1s ease;
                        &:hover{
                            color:#555;
                        }
                    }
                    .counterLink{
                        position: relative;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .fa-cart-shopping{
                            font-size: 25px;
                            
                        }
                        .count{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: $crimson;
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $white;
                        }
                    }
                }
                @include mobile {
                  
                }
            }
        }

    }
    .menu{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 999;
        display: none;

        @include mobile {
            display: block;

        }
        .fa-bars{
            color: $maincolor;
            font-size: 30px;
            cursor: pointer;
            z-index: 999;
        }

    }
}